[submodule "centipede"]
	path = centipede
	url = https://github.com/ZenGo-X/centipede
[submodule "multi-party-ecdsa"]
	path = multi-party-ecdsa
	url = https://github.com/ZenGo-X/multi-party-ecdsa
[submodule "curv"]
	path = curv
	url = https://github.com/ZenGo-X/curv
[submodule "rust-paillier"]
	path = rust-paillier
	url = https://github.com/ZenGo-X/rust-paillier/
[submodule "zk-paillier"]
	path = zk-paillier
	url = https://github.com/ZenGo-X/zk-paillier
